= link_to('New User', new_user_path, :remote => true, :class => 'large button round')
= link_to('Kill a Queue', new_offer_path, :remote => true, :class => 'large button round alert')

%div#new_offer

%div#new_user

%div.row
  

%ol#offers
  = render(:partial => '/offers/offers')