<footer class="row">
  <div class="large-12 columns">
    <div class="left">
      <p class='inline-list'>&copy; S Hui</p>
    </div>
    <div class="right">
      <ul class="inline-list">
        <li><a href="https://en.wikipedia.org/wiki/Capitalism">Capitalism</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Universal_Declaration_of_Human_Rights#Legal_effect">Universal Declaration of Human Rights</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Right_of_asylum#Modern_political_asylum">Right of Asylum</a></li>
      </ul>
    </div>
  </div>
</footer>